- name: Perform validation checks
  ansible.builtin.include_tasks:
    file: preflight.yaml
    apply:
      tags: always
  tags:
    - always

- name: Perform validation checks
  ansible.builtin.include_tasks:
    file: setup.yaml
    apply:
      tags: docker-setup
  tags:
    - docker-setup

- name: Set docker daemon config
  become: true
  ansible.builtin.template:
    dest: /etc/docker/daemon.json
    src: docker-daemon.json.j2
    backup: true
  notify: "docker : Restart docker"

- name: Ensure docker is running
  become: true
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true

- name: Flush handlers
  meta: flush_handlers
