- name: Verify OS support
  ansible.builtin.assert:
    that: 
      - ansible_facts['distribution'] in docker__supported_os
      - ansible_facts['distribution_version'] in docker__supported_os[ansible_facts['distribution']].versions
    fail_msg: "{{ ansible_facts['distribution'] }} {{ ansible_facts['distribution_version'] }} is not supported by this role.  For supported distributions/versions see vars/main.yaml"
    quiet: true

- name: Verify architecture support
  ansible.builtin.assert:
    that: 
      - ansible_facts['distribution'] in docker__supported_os
      - ansible_facts['architecture'] in docker__supported_os[ansible_facts['distribution']].arch
    fail_msg: "{{ ansible_facts['distribution'] }} {{ ansible_facts['architecture'] }} is not supported by this role.  For supported distributions/versions see vars/main.yaml"
    quiet: true

- name: Resolve OS-specific variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_facts['distribution'] | lower }}_{{ ansible_facts['distribution_version'] | lower }}.yaml"
    - "{{ ansible_facts['distribution'] | lower }}_{{ ansible_facts['distribution_major_version'] | lower }}.yaml"
    - "{{ ansible_facts['distribution'] | lower }}.yaml"
    - "{{ ansible_facts['os_family'] | lower }}_{{ ansible_facts['distribution_major_version'] | lower }}.yaml"
    - "{{ ansible_facts['os_family'] | lower }}.yaml"
  tags:
    - always
