- name: Installation tasks for Ubuntu
  ansible.builtin.include_tasks:
    file: setup/ubuntu.yaml
    apply:
      tags: docker-setup
  tags:
    - docker-setup
  when:
    - ansible_facts['distribution'] == "Ubuntu"
