- name: "docker : Update apt cache"
  become: true
  ansible.builtin.apt:
    update_cache: true

- name: "docker : Restart docker"
  become: true
  ansible.builtin.systemd:
    name: docker
    state: restarted
