{
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "{{ docker__log_max_size }}",
    "max-file": "{{ docker__log_max_file }}"
  }{% if (docker__mtu | int) > 0 %},
  "default-network-opts": {
    "bridge": {
      "com.docker.network.driver.mtu": "{{ docker__mtu }}"
    }
  }{% endif %}{% if docker__http_proxy or docker__https_proxy or docker__no_proxy %},
  "proxies": {
{% if docker__http_proxy %}
    "http-proxy": "{{ docker__http_proxy }}"{% if docker__https_proxy or docker__no_proxy %},{% endif %}

{% endif %}
{% if docker__https_proxy %}
    "https-proxy": "{{ docker__https_proxy }}"{% if docker__no_proxy %},{% endif %}

{% endif %}
{% if docker__no_proxy %}
    "no-proxy": "{{ docker__no_proxy }}"
{% endif %}
  }
{% endif %}
}
